// kendo-splitter + kendo-splitter { margin: 20px 0 0; }
// h3 { font-size: 1.2em; padding: 10px; }
.navbar{
    height: 70px;
    margin: -8px;
    position: absolute;
    background: #57626f;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 9px 4px #777;
}