// kendo-splitter + kendo-splitter { margin: 20px 0 0; }
// h3 { font-size: 1.2em; padding: 10px; }
.navbar{
    height: 85px;
    margin: -8px;
    position: absolute;
    background: #57626f;
    color: #fff;
    padding: 12px;
    box-shadow: 0px 0px 9px 4px #777;
}

.attachButton{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.circle{
    height: 40px;
    width: 40px;
    background: #9bb1e3;
    color: #2e4a7e;
    border-radius: 50%;
    border: 2px solid #4dd6be;
    font-size: 17px;
    cursor: pointer;
}

.k-menu .k-item .k-link{
   padding: 0px !important; 
}
 .k-menu-item .k-menu-expand-arrow {
    display: none; 
  }