<div style="height:70px">
  <kendo-splitter orientation="horizontal" class="navbar">
    <!-- <kendo-splitter orientation="horizontal" style="height: 100%;"> -->
    <kendo-splitter-pane [resizable]="false" style="text-align:right;margin-right:5px;" size="5%">
      <button kendoButton class="attachButton"><span class="k-icon k-i-attachment-45"></span></button>
      <!-- <h3>Middle pane</h3> -->
    </kendo-splitter-pane>
    <kendo-splitter-pane [resizable]="false" size="13%">
      <!-- <h3 style="margin:0;">Right pane</h3> -->
      <!-- <div class="circle">
          <p style="margin:0;padding:9px;">HP</p>
        </div> -->

      <kendo-menu >
        <kendo-menu-item text="My Web Site">
          <ng-template kendoMenuItemTemplate let-item="item">
            <div style="display:flex">
              <div class="circle">
                <p style="margin:0;padding:9px;">HP</p>
              </div>
              <div style="padding: 8px; color:#fff;font-size: 22px;">
                My Template
              </div>
            </div>
          </ng-template>
          <kendo-menu-item text="about.html" icon="file"></kendo-menu-item>
          <kendo-menu-item text="contacts.html" icon="file"></kendo-menu-item>
          <kendo-menu-item text="index.html" icon="file"></kendo-menu-item>
          <kendo-menu-item text="portfolio.html" icon="file"></kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>

    </kendo-splitter-pane >
    <kendo-splitter-pane [resizable]="false" size="68%">
      <h3>Right pane</h3>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
        <h3>Right pane</h3>
      </kendo-splitter-pane>
    <!-- </kendo-splitter> -->
  </kendo-splitter>
</div>

<!-- <div class="row">
  <div class="col-xs-12 col-sm-6 example-col">
    <p>Single selection mode</p> -->
<!-- <button kendoButton [iconClass]="'fa fa-calendar fa-fw'"></button> -->
<!-- <button kendoButton [toggleable]="true" [icon]="'bold'"></button>
  </div>
  <div class="col-xs-12 col-sm-6 example-col">
    <p>Multiple selection mode</p>
    <kendo-buttongroup>
      <button kendoButton [toggleable]="true" [icon]="'bold'"></button>
      <button kendoButton [toggleable]="true" [icon]="'italic'"></button>
      <button kendoButton [toggleable]="true" [icon]="'underline'"></button>
    </kendo-buttongroup>
  </div>
</div> -->
<!-- <kendo-splitter orientation="horizontal" style="height: 200px;">
  <kendo-splitter-pane>
    <h3>Middle pane</h3>
  </kendo-splitter-pane>
  <kendo-splitter-pane size="20%">
    <h3>Right pane</h3>
  </kendo-splitter-pane>
</kendo-splitter> -->

<!-- <div class="layout">
  <div class="navigation-pane">
      <kendo-panelbar (stateChange)="stateChange($event)" [selectable]="false">
      <kendo-panelbar-item>
        <p></p>
      </kendo-panelbar-item>
      </kendo-panelbar>
  </div> -->
<!-- <div class="header">
    <p>skdjhasdm</p>
  </div> -->